version: '3.7'

services:
  my-backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/myfolder/src
    ports:
      - 3000:3000
    env_file:
      - ./.env.docker

  #컴퓨터이름
  my-database:
    image: mysql:latest
    environment:
      # MYSQL_DATABASE: yoramyoram
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306

  my-redis:
    image: redis:latest
    ports:
      - 6379:6379
